body {
    margin: 0;
    padding: 0;
}

.titles {
    color: #a75f49;
    font-family: 'Dancing Script';
}

.bg-pink {
    background: #a75f49
}

.fixed-top.scrolled {
    background-color: rgb(15, 14, 14) !important;
    transition: background-color 200ms linear;
}

.text-white-opacity {
    color: #f2f2f2;
}

.margin-top-h1 {
    margin-top: 22rem;
}

.parallax {
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;
}

#seccion1 {
    background-image: url(../img/casaVerde1.jpeg);
}

.navShadow {
    color: #fff;
    text-shadow: 2px 4px 6px #000000;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.slogan {
    font-family: 'Kaushan Script', cursive;
    color: #cb0909;
}